# A new SVR model

## Instructions

Now that you have built an SVR model, build a new one with fresh data (try one of [these datasets from Duke](https://www2.stat.duke.edu/~mw/ts_data_sets.html)). Annotate your work in a notebook, visualize the data and your model, and test its accuracy using appropriate plots and MAPE. Also try tweaking the different hyperparameters and also using different values for the timesteps.

In [1]:
import pandas as pd

In [2]:
trig = pd.read_csv('../kaggle_datasets/trig.csv',index_col = 'date',parse_dates= ['date']).drop(['Unnamed: 0','language','article'],axis=1)
trig.head()

            views
date
2007-12-10   2573
2007-12-11   2443
2007-12-12   2392
2007-12-13   2350
2007-12-14   1856

In [3]:
trig.tail()

            views
date
2021-02-25   2229
2021-02-26   1881
2021-02-27   1589
2021-02-28   1752
2021-03-01   1922