# Visualize some more Time Series

Instructions

You've begun to learn about Time Series Forecasting by looking at the type of data that requires this special modeling. You've visualized some data around energy. Now, look around for some other data that would benefit from Time Series Forecasting. Find three examples (try Kaggle and Azure Open Datasets) and create a notebook to visualize them. Notate any special characteristics they have (seasonality, abrupt changes, or other trends) in the notebook.

## Book Sales Dataset

In [6]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import the dataset
books = pd.read_csv('../kaggle_datasets/book_sales.csv',index_col='Date',parse_dates= ['Date']).drop('Paperback',axis=1)
books.head()

            Hardcover
Date
2000-04-01        139
2000-04-02        128
2000-04-03        172
2000-04-04        139
2000-04-05        191

Add time-step feature

In [5]:

books['Time'] = np.arange(len(books.index))

books.head()

            Hardcover  Time
Date
2000-04-01        139     0
2000-04-02        128     1
2000-04-03        172     2
2000-04-04        139     3
2000-04-05        191     4